[user]
	name = wanghongxin492
	email = wanghongxin492@emao.com
[core]
	autocrlf = true
	excludesfile = C:\\Users\\wanghongxin\\Documents\\gitignore_global.txt
[alias]
	latest = for-each-ref --sort=-committerdate --format=\"%(committername)@%(refname:short) [%(committerdate:short)] %(contents)\"
	hist = log --pretty=format:\"%C(yellow)%h %C(red)%d %C(reset)%s %C(green)[%an] %C(blue)%ad\" --topo-order --graph --date=short
